[Desktop Entry]
Name=WmPong
Comment=Self playing pong game
Comment[pl]=Grający się sam ping-pong
Exec=wmpong
Terminal=0
Type=Application
# vi: encoding=utf-8
