[Desktop Entry]
Name=WmPong
Comment=Self playing pong game
Comment[pl]=Grający się sam ping-pong
Exec=wmpong
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Applet;
NotShowIn=GNOME;KDE;
# vi: encoding=utf-8
